//Tipografia;
$fuente_principal: 'Roboto Condensed', sans-serif;
$fuente_secundaria: 'Montserrat', sans-serif;
$fuente_tercearia: 'Lobster Two', sans-serif;

// Colores
$principal: #2C3333;
$secundario: #395B64;
$terceario: #A5C9CA; 
$amarillo: #F6ECA9;
$rojo: #FF004D;
$font: #E7F6F2;
$blanco: #FFFFFF;
$negro: #000000; 
$galaxia:  #bf4193;
$vino: #750E21;
$banner1: #5F8670;
$banner2: #E36414;

