@use '../base/variables' as v;
@use '../base/mixins' as m;

.boletos{
    background-color: v.$banner1;
    display: block;
    padding: 3rem 0;
    font-family: v.$fuente_principal;
    h3{
        text-align: center;
        color: v.$font;
    }
    .contenedor-boletos{
        p{
            text-align: center;
            border: 1px solid;            
        }
    }

}
.ul-boletos{
    @include m.liDecoration;
    li{
        border-bottom: 1px solid;
        line-height: 3rem;
        font-size: 2rem;
        color: v.$font;
    }
}
.precio{
    background-color: v.$vino;
    font-weight: bold;
}
.titulo{
    background-color: v.$banner2;
    font-weight: bold;
}
.pase-1-dia h4, .pase-2-dias h4{
    text-align: center;
    font-size: 2rem;
    color: v.$font;
}